@model SimpleEcommerceAspNet6.Data.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Manager" asp-controller="DashBoard" asp-action="Index"  class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>DashBoard</a>
            <a asp-area="Manager" asp-controller="ManageRoles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Tạo mới quyền truy cập</span>
        </nav>
    </div>
</div>
<div class="w-50">
    <div class="d-flex justify-content-between">
        <h1 style="color:#03bcf4">Tạo mới quyền truy cập</h1>
        <div>
            <a class="btn btn-info m-r-5 mb-0" asp-action="Index">Back to List</a>
        </div>
    </div>
    <hr />


    <form asp-action="Create"  method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group ">
            <label for="RoleName">Tên quyền truy cập</label>
            <input class="form-control" type="text" asp-for="RoleName" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label for="Description">Mô Tả</label>
            <input class="form-control" type="text" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input class="btn btn-info m-r-5" type="submit" value="Tạo mới" />
    </form>
</div>
