
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<div class="page-container">
    <!-- Content Wrapper START -->
    
    <!-- Content Wrapper END -->
   

</div>
