<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/area.manager.assets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/area.manager.assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Core css -->
    <link href="~/area.manager.assets/css/app.min.css" rel="stylesheet">
    <link href="~/area.manager.assets/css/logo.css" rel="stylesheet" />

 

    @await RenderSectionAsync("Styles", required: false)
   
</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            @await Html.PartialAsync("_HeaderPartialView")
           
            <!-- Header END -->

            <!-- Side Nav START -->
            @await Html.PartialAsync("_SideNavPartialView")
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">
            <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                @await Html.PartialAsync("_FooterPartialView")
                <!-- Footer END -->
            </div>

            <!-- Page Container END -->

           
        </div>
    </div>
    <!-- Core Vendors JS -->
    <script src="~/area.manager.assets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/area.manager.assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/area.manager.assets/js/pages/dashboard-default.js"></script>
    <!-- Core JS -->
    <script src="~/area.manager.assets/js/app.min.js"></script>
    <!-- page js -->
    <script src="~/area.manager.assets/vendors/quill/quill.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",required:false)
</body>

</html>